<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.gpt.mapper.FStoryboardLogMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.gpt.domain.model.FStoryboardLog">
    <!--@mbg.generated-->
    <!--@Table f_storyboard_log-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="manuscript_id" jdbcType="INTEGER" property="manuscriptId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="request" jdbcType="LONGVARCHAR" property="request" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creaet_user_id" jdbcType="INTEGER" property="creaetUserId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, manuscript_id, `name`, request, update_time, create_time, creaet_user_id, content, 
    `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from f_storyboard_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from f_storyboard_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.gpt.domain.model.FStoryboardLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into f_storyboard_log (manuscript_id, `name`, request, 
      update_time, create_time, creaet_user_id, 
      content, `status`)
    values (#{manuscriptId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{request,jdbcType=LONGVARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{creaetUserId,jdbcType=INTEGER}, 
      #{content,jdbcType=LONGVARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.ruoyi.gpt.domain.model.FStoryboardLog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into f_storyboard_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="manuscriptId != null">
        manuscript_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="request != null">
        request,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creaetUserId != null">
        creaet_user_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="manuscriptId != null">
        #{manuscriptId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        #{request,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creaetUserId != null">
        #{creaetUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ruoyi.gpt.domain.model.FStoryboardLog">
    <!--@mbg.generated-->
    update f_storyboard_log
    <set>
      <if test="manuscriptId != null">
        manuscript_id = #{manuscriptId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="request != null">
        request = #{request,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creaetUserId != null">
        creaet_user_id = #{creaetUserId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ruoyi.gpt.domain.model.FStoryboardLog">
    <!--@mbg.generated-->
    update f_storyboard_log
    set manuscript_id = #{manuscriptId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      request = #{request,jdbcType=LONGVARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creaet_user_id = #{creaetUserId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR},
      `status` = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="batchInsert" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into f_storyboard_log
    (manuscript_id, `name`, request, update_time, create_time, creaet_user_id, content, 
      `status`)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.manuscriptId,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR}, #{item.request,jdbcType=LONGVARCHAR}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.creaetUserId,jdbcType=INTEGER}, 
        #{item.content,jdbcType=LONGVARCHAR}, #{item.status,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>